input{
    width: 570px;
    height: 70px;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: 0.5px solid rgba(146, 145, 145, 0.701);
    box-shadow: 0px 4px 5px 0px rgb(146 145 145 / 28%);
    border-radius: 8px;
    background-color: rgba(246, 246, 246, 0.771);
    padding-left: 1rem;
    min-width: 100%;
}