button{
    border-radius: 10px;
    height: 50px;
    width: 255px;
    background-color: rgb(26, 126, 249);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

button:disabled {
    background-color: rgb(111, 172, 247);
  }