<div class="w-screen h-20 border flex flex-row justify-between px-32 items-center">

  <div class="w-1/5 h-2/3 flex items-center">
    <img *ngIf="!loading; else imgSkeleton" [src]="imageUrl" class="h-full w-full">
  </div>

  <div class="flex flex-row">
    <p  *ngIf="!loading; else textSkeleton" class="blue">Talk to a Consolidation Specialist <i class="fa-solid fa-phone"></i> (888) 888 - 8888</p>
  </div>

</div>

<ng-template #imgSkeleton>
  <ngx-skeleton-loader [theme]="{ 'border-radius': '5px', height: '50px', width: '150px'}"></ngx-skeleton-loader>
</ng-template>

<ng-template #textSkeleton>
  <ngx-skeleton-loader [theme]="{ 'border-radius': '5px', height: '50px', width: '350px'}"></ngx-skeleton-loader>
</ng-template>

