.font{
    font-weight: 800;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.746);
}

.small{
    font-size: 10px;
    color: #888888;
}

.pb-3{
    font-size: 12px;
    font-weight: 400;
}

.styled-input {
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border: solid #88888878 1.5px;
    border-radius: 5px;
    height: 50px;
    width: 260px;
    padding: 10px;
    color: #88888878;
    font-size: 12px;
    padding-left: 20px;
    appearance: none;
  }

  .valid-input {
    border: solid black 1.5px;
  }

  select:focus {
    border: solid black 1.5px;
  }

 option{
  color: yellow;
 }
  .input-container {
    position: relative;
    width: 200px;
  }
  