<div class="w-screen h-full overflow-auto">

  <app-navbar></app-navbar>
  <div class="flex flex-col h-full w-screen">
    <div class="flex flex-col h-2/5 w-full items-center justify-between">
      <p class="font pt-5">What Is The Best Time To Reach You?</p>
      <form #timeForm="ngForm" class="flex flex-col items-center justify-center">
        <select name="time" id="time" class="styled-input" [(ngModel)]="selectedTime" [class.valid-input]="timeForm.valid"
        [class.invalid-input]="timeForm.invalid" required>
          <option value="" disabled selected>Choose Your Time</option>
          <option value="8">8 AM CST</option>
          <option value="9">9 AM CST</option>
          <option value="10">10 AM CST</option>
          <option value="11">11 AM CST</option>
          <option value="12">12 PM CST</option>
          <option value="1">1 PM CST</option>
          <option value="2">2 PM CST</option>
          <option value="3">3 PM CST</option>
          <option value="4">4 PM CST</option>
          <option value="5">5 PM CST</option>
        </select>
        <p class="small py-3">(All times are in CST)</p>
        <app-button id="continue-btn" text="continue" (onClick)="toSecondPage()" [disabled]="!timeForm.valid" ></app-button>
      </form>
      <p class="flex pb-3"> Terms and Conditions | Privacy Policy | California Privacy</p>
    </div>

  </div>

  <app-footer></app-footer>

</div>
