<div class="w-screen h-auto overflow-auto">

  <app-navbar></app-navbar>
  <div class="w-full flex flex-col items-center justify-between">
    
    <p class="font pt-5 md:text-3xl sm:text-2xl text-xl">Add Your Personal Details</p>
    <form [formGroup]="form" class="w-1/2 flex flex-col items-center mt-6 mb-8">
      <app-input [formGroup]="form" controlName="name" placeholder="First name"></app-input>
      <app-input [formGroup]="form" controlName="lastName" placeholder="Last name"></app-input>
      <app-input [formGroup]="form" controlName="email" placeholder="Email" type="email"></app-input>
      <app-input [formGroup]="form" controlName="phone" placeholder="Phone Number"></app-input>
      <div class="w-full flex flex-row p-5 pb-10 my-5 mb-8 paragraph-box">
        <input type="checkbox" required formControlName="terms">
        <p class="text-justify text-xs ml-2">
          By clicking the button above, you acknowledge, consent, and agree to the following: a) Our Privacy Policy and consent to 
          recieve notices and other communications electronically; b) We take your privacy seriously. You are providing express written
          consent for to share your information with up to four (4) of its and for , parties calling on behalf of , or authorized 
          third parties on their behalf to contact you (including through automated means; e.g. autodialing, text and pre-recorded 
          messaging) about legal services or other Mass Tort related offers via telephone, mobile device (including SMS and MMS) 
          and/or email, even if your telephone number is currently listed on any state, federal, local or corporate Do Not Call list;
          c) Consent to be contacted is not required in order to purchase goods or services from or the that contact you. You may
          choose to speak with an individual service provider by dialing (888) 888-8888.
        </p>
      </div>
      <app-button text="submit your details" (onClick)="toThirdPage()" [disabled]="!form.valid"></app-button>
    </form>

    <p style="font-size: 0.55rem;"> Terms and Conditions | Privacy Policy | California Privacy</p>

    <app-footer></app-footer>

  </div>
</div>
