.font{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.746);
}

input{
    width: 20px;
    height: 20px;
    margin-top: 0.5rem;
}

.paragraph-box{
    width: 570px;
}

@media (max-width: 686px) {
    .paragraph-box{
        width: 400px;
    }
  }

  @media (max-width: 461px) {
    .paragraph-box{
      width: 250px;
    }
  }