<html class="w-screen h-screen overflow-hidden">

  <app-navbar></app-navbar>
  <div class="flex flex-col h-full w-screen">

    <div class="flex flex-col h-2/5 w-full items-center justify-between">
      <p class="font pt-5" >What Is The Best Time To Reach You?</p>
      <form #timeForm="ngForm" class="flex flex-col items-center justify-center">
        <select name="time" id="time" class="styled-input" [(ngModel)]="selectedTime" required>
          <option value="" disabled selected>Choose Your Time</option>
          <option value="8am">8 AM CST</option>
          <option value="9am">9 AM CST</option>
          <option value="10am">10 AM CST</option>
          <option value="11am">11 AM CST</option>
          <option value="12pm">12 PM CST</option>
          <option value="1pm">1 PM CST</option>
          <option value="2pm">2 PM CST</option>
          <option value="3pm">3 PM CST</option>
          <option value="4pm">4 PM CST</option>
          <option value="5pm">5 PM CST</option>
        </select>
        <p class="small py-3">(All times are in CST)</p>
        <button id="continue-btn" [disabled]="!timeForm.valid"> CONTINUE <i class="fa-solid fa-chevron-right"></i></button>
      </form>
      <p class="flex pb-3"> Terms and Conditions | Privacy Policy | California Privacy</p>
    </div>

    <div class="flex flex-col h-3/5 w-full bg p-20 px-72 text-xs">
      <p>This site is not a part of the FaceBook website or Facebook Inc. Additionally, Facebook does NOT endorse this site. FACEBOOK is a trademark of FACEBOOK Inc. This site is not a part of the YouTube website or Google, LLC. Additionally, This site is NOT endorsed by Google in any way.</p> <br/>
      <p>While we may provide you preliminary information on wether you qualify for compensation, your local governing body ultimately determines who qualifies and what claims are paid. This site is provided for informational purposes only if you have questions about wether you qualify, please contact an attorney.</p> <br/>
      <p>THIS IS A PAID ATTORNEY / ADVOCATE ADVERTISEMENT.</p><br/>
      <p>*While we may provide you preliminary information on wether you may qualify for compensation, the U.S. District Court: Eastern District of North Carolina ultimately determines who qualifies and what claims are paid. This site is provided for informational purposes only. If you have questions about wether you qualify, please contact an attorney.</p><br/>
      <p>This website uses Google Analytics and Google Ads to track your journey for marketing purposes. If you wish to oopt-out of user-tracking click here.</p>
    </div>

  </div>

</html>