<div class="w-screen h-20 border flex flex-row justify-between px-44 items-center">

  <div class="w-1/7 h-3/5 flex items-center pl-20">
    <img *ngIf="!loading; else imgSkeleton" [src]="imageUrl" class="h-full w-full">
  </div>

  <div class="flex flex-row pr-20">
    <p  *ngIf="!loading; else textSkeleton" class="blue">Talk to a Consolidation Specialist <i class="fa-solid fa-phone"></i> (888) 888 - 8888</p>
  </div>

</div>

<ng-template #imgSkeleton>
  <ngx-skeleton-loader [theme]="{ 'border-radius': '5px', height: '50px', width: '150px'}"></ngx-skeleton-loader>
</ng-template>

<ng-template #textSkeleton>
  <ngx-skeleton-loader [theme]="{ 'border-radius': '5px', height: '50px', width: '350px'}"></ngx-skeleton-loader>
</ng-template>

